{% extends "master.html" %}
{% block bar %}
{% include "SearchForm.html" %}
{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th> Дата </th>
        <th> Из </th>
        <th> В </th>
        <th> Вес </th>
        <th> Коммент </th>
        <th> Контакты </th>
    </tr>
    </thead>
<tbody>
    {%for freight in freights %}
    <tr>
        <td> {{freight.SubmitedDate}}</td>
        <td> {{freight.FromLoc.GeoLocationName}}</td>
        <td> {{freight.ToLoc.GeoLocationName}}</td>
        <td> {{freight.Weight}}</td>
        <td> {{freight.Comment}}</td>
        <td> {% if freight.Contact is not None %}
            {{freight.Contact}} <br>
            {% endif %}
            {% if freight.TLLinkUser is not None %}
            {{freight.TLLinkUser}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}