 <form method="get" action="">
        <div class="container">
        <div class="row">
  <div class="col">
    <input type="text" name="fromTxt"  value="{{ fromloc|default_if_none:'' }}"id="fromTxt"  class="form-control" placeholder="Откуда" aria-label="Откуда">
      <script>
        $(function () {

            $("#fromTxt").autocomplete({
                source: '{% url "autocomplete" %}',
                minLength:2
                });
        });
    </script>


    <input type="text" name="toTxt" id="toTxt" value="{{ toloc|default_if_none:'' }}" class="form-control" placeholder="Куда" aria-label="Куда">
      <script>
        $(function () {

            $("#toTxt").autocomplete({
                source: '{% url "autocomplete" %}',
                minLength:2
                });
        });
    </script>

            <input type="submit" value="Поиск груза">
                 </div>
</div>

        </div>
    </form>